<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/aberporthdata.txt</string>
		<key>name</key>
		<string>Aberporth</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/armaghdata.txt</string>
		<key>name</key>
		<string>Armagh</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/ballypatrickdata.txt</string>
		<key>name</key>
		<string>Ballypatrick Forest</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/bradforddata.txt</string>
		<key>name</key>
		<string>Bradford</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/braemardata.txt</string>
		<key>name</key>
		<string>Braemar</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/cambornedata.txt</string>
		<key>name</key>
		<string>Camborne</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/cambridgedata.txt</string>
		<key>name</key>
		<string>Cambridge NIAB</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/cardiffdata.txt</string>
		<key>name</key>
		<string>Cardiff Bute Park</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/chivenordata.txt</string>
		<key>name</key>
		<string>Chivenor</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/cwmystwythdata.txt</string>
		<key>name</key>
		<string>Cwmystwyth</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/dunstaffnagedata.txt</string>
		<key>name</key>
		<string>Dunstaffnage</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/durhamdata.txt</string>
		<key>name</key>
		<string>Durham</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/eastbournedata.txt</string>
		<key>name</key>
		<string>Eastbourne</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/eskdalemuirdata.txt</string>
		<key>name</key>
		<string>Eskdalemuir</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/heathrowdata.txt</string>
		<key>name</key>
		<string>Heathrow</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/hurndata.txt</string>
		<key>name</key>
		<string>Hurn</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/lerwickdata.txt</string>
		<key>name</key>
		<string>Lerwick</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/leucharsdata.txt</string>
		<key>name</key>
		<string>Leuchars</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/lowestoftdata.txt</string>
		<key>name</key>
		<string>Lowestoft</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/manstondata.txt</string>
		<key>name</key>
		<string>Manston</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/nairndata.txt</string>
		<key>name</key>
		<string>Nairn</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/newtonriggdata.txt</string>
		<key>name</key>
		<string>Newton Rigg</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/oxforddata.txt</string>
		<key>name</key>
		<string>Oxford</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/paisleydata.txt</string>
		<key>name</key>
		<string>Poisley</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/ringwaydata.txt</string>
		<key>name</key>
		<string>Ringway</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/rossonwyedata.txt</string>
		<key>name</key>
		<string>Ross-on-Wye</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/shawburydata.txt</string>
		<key>name</key>
		<string>Shawbury</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/sheffielddata.txt</string>
		<key>name</key>
		<string>Sheffield</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/southamptondata.txt</string>
		<key>name</key>
		<string>Southampton</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/stornowaydata.txt</string>
		<key>name</key>
		<string>Stornoway Airport</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/suttonboningtondata.txt</string>
		<key>name</key>
		<string>Sutton Bonington</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/tireedata.txt</string>
		<key>name</key>
		<string>Tiree</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/valleydata.txt</string>
		<key>name</key>
		<string>Valley</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/waddingtondata.txt</string>
		<key>name</key>
		<string>Waddington</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/whitbydata.txt</string>
		<key>name</key>
		<string>Whitby</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/wickairportdata.txt</string>
		<key>name</key>
		<string>Wick Airport</string>
	</dict>
	<dict>
		<key>url</key>
		<string>http://www.metoffice.gov.uk/climate/uk/stationdata/yeoviltondata.txt</string>
		<key>name</key>
		<string>Yeovilton</string>
	</dict>
</array>
</plist>
